.left
{
  position:absolute;
  top:0;
  left: -27rem;
  margin: 0;
  overflow: hidden;
}
.modal-content
{
    position: relative;
    top:-2rem;
    width: 50%;
    min-height: 100vh;
    border-radius: 0rem;
    z-index: 1000;
    display: flex;
    border: none;
    outline: 0;
    background-color: rgba(224, 222, 222, 0.979);
    pointer-events: auto;
    flex-direction: column;
}

.nav li a 
{
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    color: rgb(53, 50, 50);
    border-bottom: 0.1rem solid rgb(63, 57, 57);
    text-decoration: none;


}

.nav li a:hover
{
    color: rgba(3, 42, 58, 0.568);
    background: rgb(180, 177, 177);
    transition: all 0.5s ease-in-out;
    transition-delay: 1ms;
}

.nav .active a,a[aria-expanded=true]
{
    color: rgba(3, 42, 58, 0.568);
    background: rgb(180, 177, 177);
}
.nav li a i{
    margin-right: 1rem;
    font-weight: 900;
}


#burgerMenu a{
    display: flex;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgba(3, 42, 58, 0.568);
    text-decoration: none;
}

.nav-pills li
{
    margin-left: 0.3rem;
}

.nav-pills li a 
{
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    color: rgb(53, 50, 50);
    border-bottom: 0.1rem solid rgb(63, 57, 57);
    text-decoration: none;
}
.nav-pills li a i
{
    margin-right: 0.2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
}
.add i{
    font-weight: 900;
    font-size: 1rem;
    display: flex;
}
.delete i{
    font-weight: 900;
    font-size: 1rem;
    display: flex;
}

#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 44mm;
  background: #FFF;
  
  
::selection {background: #f31544; color: #FFF;}
::moz-selection {background: #f31544; color: #FFF;}
h1{
  font-size: 1.5em;
  color: #222;
}
h2{font-size: .9em;}
h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
p{
  font-size: .7em;
  color: #666;
  line-height: 1.2em;
}
 
#top, #mid,#bot{ /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
}

#top{min-height: 100px;}
#mid{min-height: 80px;} 
#bot{ min-height: 50px;}

#top .logo{
  //float: left;
	height: 60px;
	width: 60px;
	background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
	background-size: 60px 60px;
}
.clientlogo{
  float: left;
	height: 60px;
	width: 60px;
	background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
	background-size: 60px 60px;
  border-radius: 50px;
}
.info{
  display: block;
  //float:left;
  margin-left: 0;
}
.title{
  float: right;
}
.title p{text-align: right;} 
table{
  width: 100%;
  border-collapse: collapse;
}
// td{
//   //padding: 5px 0 5px 15px;
//   //border: 1px solid #EEE
// }
.tabletitle{
  //padding: 5px;
  font-size: .5em;
  background: #EEE;
}
.service{border-bottom: 1px solid #EEE;}
.item{width: 24mm;}
.itemtext{font-size: .5em;}

#legalcopy{
  margin-top: 5mm;
}

  
  
}
